.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

/* playlist card start */

.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 300px;
  margin: 2.5rem;
  position: relative;
  width: 300px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  font-family: "Courier New", Courier, monospace;
  -webkit-animation: swing-in-left-bck 0.6s
    cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  animation: swing-in-left-bck 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

.card > h2 {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: "Mansalva", cursive;
  font-size: 1em;
  text-transform: uppercase;
  color: 000000;
  letter-spacing: 1px;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/* playlist card end */

/* Mixtape card start */

.mixtape-card {
  background: #f9f9f8;
  border-radius: 2px;
  display: inline-block;
  height: 200px;
  margin: 1rem;
  position: relative;
  width: 300px;
  -webkit-animation: scale-in-ver-center 0.5s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-ver-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* Mixtape card end */

/* Mixtape card start */

.tracks-card {
  background: #f9f9f8;
  border-radius: 2px;
  display: inline-block;
  height: 200px;
  margin: 5rem;
  position: relative;
  width: 200px;
}

.tracks-card-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.tracks-card-1:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/* Mixtape card end */

/* tape text styling */

.tape {
  padding-top: 55px;
  position: relative;
  width: 600px;
  margin: auto;
}

.tape > img {
  width: 100%;
}

.tape > h2 {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 12px;
  padding: 0 5px;
  font-family: "Mansalva", cursive;
  font-size: 1.5em;
  text-transform: uppercase;
  color: 000000;
  letter-spacing: 1px;
}

.tape > .top {
  top: 88px;
}

.tape > .over {
  position: absolute;
  top: 13.5%;
  left: 8.5%;
}

.tape > .topShowPage {
  top: 64px;
}

/* tape text styling end */

/* mixtape text styling */

.mixtape {
  position: relative;
  width: 300px;
  margin: auto;
}

.mixtape > img {
  width: 100%;
}

.mixtape > h2 {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: "Mansalva", cursive;
  font-size: 0.9em;
  text-transform: uppercase;
  color: 000000;
  letter-spacing: 1px;
}

.mixtape > .top {
  top: 12px;
}

/* mixtape text styling end*/

/* Music Player */

.Player {
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  width: 280px;
  height: 430px;
}
.Player .Artwork {
  width: 280px;
  height: 280px;
  background-size: cover;
  position: relative;
}
.Player .Artwork:hover .Controls {
  background: rgba(41, 23, 32, 0.8);
}
.Player .Artwork .Controls {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 280px;
  box-sizing: border-box;
  background: rgba(41, 23, 32, 0.3);
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 20px 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: background 0.125s ease;
  transition: background 0.125s ease;
}
.Player .Artwork .Controls i:hover {
  cursor: pointer;
}
.Player .Artwork .Controls .fa-play,
.Player .Artwork .Controls .fa-pause {
  -webkit-transform: scale(2);
  transform: scale(2);
}
.Player .TrackList {
  width: 280px;
  height: 120px;
  background: #4a293a;
  overflow-y: auto;
  position: relative;
}
.Player .TrackList li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 300;
}
.Player .TrackList li:hover,
.Player .TrackList li.selected {
  background: #39202d;
  cursor: pointer;
  color: #d90368;
}
.Player .TrackList li:hover .duration {
  opacity: 1;
}
.Player .TrackList li .title {
  margin-left: 10px;
  font-weight: 500;
  letter-spacing: 0.12em;
}
.Player .TrackList li .duration {
  margin-left: auto;
  opacity: 0.25;
}
.Player .MusicCredit,
.Player .MusicCredit a {
  color: white;
  padding: 10px;
  text-align: center;
}
.Player .MusicCredit a {
  color: #d90368;
}

/* animated background start */

@import url("https://fonts.googleapis.com/css?family=Exo:400,700");
@import url("https://fonts.googleapis.com/css?family=Monoton&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Exo", sans-serif;
}

.context {
  width: 100%;
  position: absolute;
  top: 50vh;
  z-index: 100;
}

.context h1 {
  text-align: center;
  color: #fff;
  font-size: 50px;
  z-index: 100;
}

.area {
  background: #4e54c8;
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
  width: 100%;
  height: 100vh;
  z-index: 100;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 100;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-5000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

/* animated background end */

/* Mixtape KeyFrames */

/* ----------------------------------------------
 * Generated by Animista on 2019-9-29 21:2:53
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-ver-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-ver-center {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    opacity: 1;
  }
}
@keyframes scale-in-ver-center {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    opacity: 1;
  }
}

/* end Mixtape KeyFrams */

/* Start playlist KeyFrames */

/* ----------------------------------------------
 * Generated by Animista on 2019-9-29 21:8:0
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation swing-in-left-bck
 * ----------------------------------------
 */
@-webkit-keyframes swing-in-left-bck {
  0% {
    -webkit-transform: rotateY(-70deg);
    transform: rotateY(-70deg);
    -webkit-transform-origin: left;
    transform-origin: left;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    -webkit-transform-origin: left;
    transform-origin: left;
    opacity: 1;
  }
}
@keyframes swing-in-left-bck {
  0% {
    -webkit-transform: rotateY(-70deg);
    transform: rotateY(-70deg);
    -webkit-transform-origin: left;
    transform-origin: left;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    -webkit-transform-origin: left;
    transform-origin: left;
    opacity: 1;
  }
}

/* end Playlist KeyFrames */

/* Mixtape Maker Intro KeyFrames Start */

/* ----------------------------------------------
 * Generated by Animista on 2019-9-29 21:15:23
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-pop-up-top
 * ----------------------------------------
 */
@-webkit-keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc,
      0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc,
      0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}
@keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc,
      0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc,
      0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}

.text-pop-up-top {
  font-size: 70px;
  color: #ffffff;
  font-family: "Monoton", cursive;
  font-weight: bold;
  height: 100px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -70px 0 0 -600px;
  -webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: text-pop-up-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* Mixtape Maker Intro KeyFrames End */

/* shaking tape test */

/* ----------------------------------------------
 * Generated by Animista on 2019-9-30 18:24:37
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

/* shaking tape test end */

.heartbeat {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}

/* song message mixtape page */

/* ----------------------------------------------
 * Generated by Animista on 2019-10-1 1:34:28
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation focus-in-expand
 * ----------------------------------------
 */
@-webkit-keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.focus-in-expand {
  -webkit-animation: focus-in-expand 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: focus-in-expand 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* song message mixtape page end */

.spotify_button {
  width: 200px;
  position: absolute;
  bottom: 20px;
  right: 16px;
  font-size: 18px;
}

.bg_button {
  width: 200px;
  position: absolute;
  bottom: 20px;
  left: 16px;
  font-size: 18px;
}

.create_font {
  text-align: center;
  margin: 15px 12px;
  padding: 0 5px;
  font-family: "Mansalva", cursive;
  font-size: 3em;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 1px;
}


/* background test */


html {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 745px 1983px #FFF , 447px 1013px #FFF , 1770px 1100px #FFF , 485px 1656px #FFF , 1728px 1699px #FFF , 1963px 677px #FFF , 232px 1017px #FFF , 20px 1238px #FFF , 275px 1891px #FFF , 1168px 1385px #FFF , 1807px 1724px #FFF , 1950px 1021px #FFF , 1032px 1040px #FFF , 534px 219px #FFF , 1476px 306px #FFF , 1715px 159px #FFF , 1989px 729px #FFF , 933px 1682px #FFF , 658px 1479px #FFF , 1735px 85px #FFF , 397px 631px #FFF , 526px 1852px #FFF , 1859px 473px #FFF , 827px 1781px #FFF , 9px 1526px #FFF , 238px 691px #FFF , 823px 1642px #FFF , 1276px 1487px #FFF , 1936px 523px #FFF , 1078px 63px #FFF , 279px 205px #FFF , 1286px 1269px #FFF , 804px 1874px #FFF , 386px 1126px #FFF , 1550px 1672px #FFF , 1395px 1261px #FFF , 109px 1647px #FFF , 1476px 727px #FFF , 905px 1250px #FFF , 1763px 374px #FFF , 1487px 1563px #FFF , 1978px 20px #FFF , 857px 1978px #FFF , 1167px 37px #FFF , 940px 647px #FFF , 1031px 831px #FFF , 689px 1247px #FFF , 1581px 1673px #FFF , 408px 1125px #FFF , 372px 1001px #FFF , 111px 68px #FFF , 502px 1342px #FFF , 464px 582px #FFF , 1162px 1423px #FFF , 1166px 1605px #FFF , 1442px 116px #FFF , 654px 768px #FFF , 783px 1743px #FFF , 1123px 1221px #FFF , 394px 1820px #FFF , 896px 1645px #FFF , 1314px 1429px #FFF , 1859px 890px #FFF , 1311px 1323px #FFF , 1760px 969px #FFF , 501px 779px #FFF , 1995px 973px #FFF , 1674px 1183px #FFF , 845px 1799px #FFF , 1358px 361px #FFF , 1243px 1791px #FFF , 1121px 543px #FFF , 1710px 945px #FFF , 1051px 928px #FFF , 642px 406px #FFF , 1658px 1819px #FFF , 76px 1004px #FFF , 1616px 1505px #FFF , 572px 1410px #FFF , 767px 1180px #FFF , 1322px 604px #FFF , 1138px 1365px #FFF , 519px 1668px #FFF , 1614px 1632px #FFF , 1233px 1878px #FFF , 1781px 1173px #FFF , 1223px 316px #FFF , 39px 161px #FFF , 179px 1512px #FFF , 557px 466px #FFF , 1808px 1242px #FFF , 1641px 901px #FFF , 1057px 1342px #FFF , 1585px 1365px #FFF , 489px 532px #FFF , 529px 706px #FFF , 937px 893px #FFF , 769px 1818px #FFF , 1440px 1998px #FFF , 1461px 16px #FFF , 253px 952px #FFF , 1324px 1123px #FFF , 1023px 1268px #FFF , 1659px 1576px #FFF , 1701px 1835px #FFF , 1819px 789px #FFF , 1551px 286px #FFF , 1268px 442px #FFF , 1910px 1619px #FFF , 1077px 408px #FFF , 1948px 107px #FFF , 396px 233px #FFF , 1972px 1900px #FFF , 109px 197px #FFF , 1452px 345px #FFF , 1158px 690px #FFF , 1472px 681px #FFF , 1630px 534px #FFF , 1308px 1111px #FFF , 1081px 565px #FFF , 1333px 1467px #FFF , 312px 303px #FFF , 1847px 56px #FFF , 692px 902px #FFF , 400px 242px #FFF , 1959px 467px #FFF , 1407px 532px #FFF , 1748px 348px #FFF , 210px 716px #FFF , 1983px 1845px #FFF , 1392px 1061px #FFF , 691px 1636px #FFF , 1648px 834px #FFF , 882px 1740px #FFF , 1962px 1916px #FFF , 1923px 403px #FFF , 118px 290px #FFF , 821px 1124px #FFF , 949px 333px #FFF , 1572px 1799px #FFF , 1070px 1541px #FFF , 1815px 94px #FFF , 1835px 747px #FFF , 1187px 1096px #FFF , 1652px 1944px #FFF , 1830px 297px #FFF , 561px 26px #FFF , 1704px 1162px #FFF , 1213px 790px #FFF , 449px 1208px #FFF , 903px 1752px #FFF , 603px 1052px #FFF , 1771px 1425px #FFF , 775px 901px #FFF , 971px 1437px #FFF , 1297px 1509px #FFF , 1781px 1568px #FFF , 458px 512px #FFF , 50px 340px #FFF , 1049px 1246px #FFF , 263px 938px #FFF , 482px 1712px #FFF , 1734px 1516px #FFF , 614px 208px #FFF , 391px 1672px #FFF , 395px 1248px #FFF , 315px 84px #FFF , 1888px 607px #FFF , 166px 1187px #FFF , 287px 1644px #FFF , 1215px 1555px #FFF , 1863px 243px #FFF , 1244px 1194px #FFF , 1180px 1966px #FFF , 278px 1047px #FFF , 82px 1587px #FFF , 56px 1431px #FFF , 627px 1990px #FFF , 308px 1007px #FFF , 1652px 1530px #FFF , 581px 1543px #FFF , 1300px 1342px #FFF , 542px 581px #FFF , 754px 1840px #FFF , 1128px 1122px #FFF , 203px 4px #FFF , 900px 447px #FFF , 445px 679px #FFF , 1306px 215px #FFF , 283px 1779px #FFF , 1506px 1119px #FFF , 1815px 1200px #FFF , 680px 590px #FFF , 1619px 1089px #FFF , 533px 1707px #FFF , 1617px 1121px #FFF , 1838px 59px #FFF , 998px 1139px #FFF , 338px 1674px #FFF , 1416px 778px #FFF , 51px 324px #FFF , 1619px 107px #FFF , 244px 210px #FFF , 1955px 458px #FFF , 1694px 478px #FFF , 1979px 552px #FFF , 804px 573px #FFF , 1706px 1553px #FFF , 1113px 313px #FFF , 1689px 1960px #FFF , 503px 220px #FFF , 906px 1780px #FFF , 1810px 1604px #FFF , 498px 662px #FFF , 1017px 1047px #FFF , 252px 181px #FFF , 768px 1908px #FFF , 527px 854px #FFF , 856px 811px #FFF , 1591px 646px #FFF , 174px 174px #FFF , 766px 1777px #FFF , 1295px 1017px #FFF , 953px 143px #FFF , 1145px 250px #FFF , 307px 1432px #FFF , 203px 196px #FFF , 1691px 338px #FFF , 1114px 549px #FFF , 1990px 134px #FFF , 1429px 1032px #FFF , 1595px 195px #FFF , 627px 547px #FFF , 805px 1294px #FFF , 1422px 54px #FFF , 622px 1465px #FFF , 1178px 1310px #FFF , 1572px 1363px #FFF , 1332px 1373px #FFF , 424px 1774px #FFF , 693px 1133px #FFF , 525px 1365px #FFF , 996px 1873px #FFF , 996px 1685px #FFF , 520px 1883px #FFF , 1260px 317px #FFF , 220px 1275px #FFF , 567px 1164px #FFF , 866px 1299px #FFF , 1139px 318px #FFF , 342px 170px #FFF , 1679px 366px #FFF , 765px 786px #FFF , 231px 1961px #FFF , 1543px 224px #FFF , 1583px 1824px #FFF , 1255px 73px #FFF , 841px 1751px #FFF , 1854px 1230px #FFF , 823px 1513px #FFF , 1096px 1817px #FFF , 218px 1270px #FFF , 1785px 1220px #FFF , 1935px 1370px #FFF , 1491px 1828px #FFF , 1667px 879px #FFF , 538px 1361px #FFF , 1906px 230px #FFF , 1391px 713px #FFF , 1591px 460px #FFF , 531px 518px #FFF , 668px 958px #FFF , 424px 1934px #FFF , 1895px 52px #FFF , 316px 1575px #FFF , 1733px 874px #FFF , 304px 325px #FFF , 1067px 1388px #FFF , 230px 1665px #FFF , 1914px 968px #FFF , 655px 1769px #FFF , 1134px 347px #FFF , 644px 300px #FFF , 1791px 667px #FFF , 191px 1009px #FFF , 1069px 839px #FFF , 1948px 1738px #FFF , 1298px 1196px #FFF , 317px 1057px #FFF , 1969px 1922px #FFF , 598px 192px #FFF , 28px 686px #FFF , 1224px 849px #FFF , 509px 108px #FFF , 671px 483px #FFF , 1688px 659px #FFF , 1808px 429px #FFF , 1930px 748px #FFF , 1340px 567px #FFF , 848px 1289px #FFF , 869px 575px #FFF , 1982px 699px #FFF , 172px 1486px #FFF , 641px 1162px #FFF , 1464px 201px #FFF , 1241px 1760px #FFF , 347px 1463px #FFF , 985px 680px #FFF , 366px 509px #FFF , 1285px 266px #FFF , 779px 1999px #FFF , 384px 450px #FFF , 1457px 921px #FFF , 1206px 1336px #FFF , 1595px 738px #FFF , 847px 1769px #FFF , 741px 774px #FFF , 1998px 1708px #FFF , 490px 220px #FFF , 1672px 1929px #FFF , 1215px 289px #FFF , 475px 1752px #FFF , 1082px 1086px #FFF , 1839px 444px #FFF , 1792px 158px #FFF , 161px 1339px #FFF , 1265px 1779px #FFF , 1730px 1115px #FFF , 113px 1272px #FFF , 1073px 1815px #FFF , 637px 1738px #FFF , 372px 1605px #FFF , 976px 1023px #FFF , 187px 1938px #FFF , 1707px 1387px #FFF , 1279px 684px #FFF , 1582px 68px #FFF , 1620px 1975px #FFF , 1356px 1081px #FFF , 270px 1803px #FFF , 749px 589px #FFF , 1673px 1327px #FFF , 1710px 1773px #FFF , 1491px 1102px #FFF , 1994px 1278px #FFF , 181px 86px #FFF , 773px 1770px #FFF , 833px 584px #FFF , 1921px 1853px #FFF , 971px 1124px #FFF , 1658px 708px #FFF , 1060px 776px #FFF , 498px 716px #FFF , 774px 829px #FFF , 1344px 398px #FFF , 138px 255px #FFF , 1930px 1233px #FFF , 1803px 320px #FFF , 929px 845px #FFF , 840px 222px #FFF , 1523px 828px #FFF , 1631px 1363px #FFF , 343px 1128px #FFF , 1472px 1697px #FFF , 933px 77px #FFF , 136px 912px #FFF , 1461px 1625px #FFF , 550px 428px #FFF , 1698px 421px #FFF , 288px 1333px #FFF , 388px 961px #FFF , 1957px 1096px #FFF , 241px 206px #FFF , 539px 881px #FFF , 1056px 802px #FFF , 1091px 1827px #FFF , 1804px 1310px #FFF , 1222px 1924px #FFF , 789px 1733px #FFF , 237px 1367px #FFF , 1566px 130px #FFF , 1833px 275px #FFF , 1118px 967px #FFF , 373px 941px #FFF , 268px 215px #FFF , 300px 861px #FFF , 1173px 600px #FFF , 1321px 262px #FFF , 588px 1587px #FFF , 1362px 1853px #FFF , 1222px 878px #FFF , 1234px 196px #FFF , 611px 646px #FFF , 176px 1118px #FFF , 1737px 1281px #FFF , 505px 86px #FFF , 1263px 662px #FFF , 617px 829px #FFF , 337px 1034px #FFF , 1285px 196px #FFF , 828px 122px #FFF , 396px 1434px #FFF , 812px 591px #FFF , 581px 690px #FFF , 886px 371px #FFF , 1973px 852px #FFF , 864px 123px #FFF , 287px 1301px #FFF , 1000px 721px #FFF , 212px 1361px #FFF , 526px 495px #FFF , 736px 1259px #FFF , 1672px 60px #FFF , 1384px 611px #FFF , 448px 1873px #FFF , 102px 1014px #FFF , 248px 876px #FFF , 1592px 367px #FFF , 1859px 1762px #FFF , 775px 435px #FFF , 65px 1722px #FFF , 1642px 1955px #FFF , 193px 1050px #FFF , 853px 1555px #FFF , 578px 1576px #FFF , 53px 1149px #FFF , 1843px 142px #FFF , 205px 74px #FFF , 1630px 310px #FFF , 1291px 619px #FFF , 1039px 342px #FFF , 1495px 525px #FFF , 813px 284px #FFF , 1837px 1281px #FFF , 1380px 20px #FFF , 197px 1812px #FFF , 1961px 1651px #FFF , 479px 583px #FFF , 1695px 812px #FFF , 1850px 285px #FFF , 1613px 899px #FFF , 1713px 1297px #FFF , 1009px 1235px #FFF , 1453px 771px #FFF , 932px 1382px #FFF , 740px 398px #FFF , 1871px 1570px #FFF , 837px 77px #FFF , 434px 1769px #FFF , 1836px 1694px #FFF , 982px 1667px #FFF , 554px 136px #FFF , 284px 1795px #FFF , 65px 234px #FFF , 1933px 1423px #FFF , 1059px 1636px #FFF , 262px 1316px #FFF , 709px 118px #FFF , 1889px 1455px #FFF , 1362px 909px #FFF , 22px 980px #FFF , 434px 941px #FFF , 25px 1208px #FFF , 734px 1846px #FFF , 184px 1174px #FFF , 1724px 1190px #FFF , 439px 1848px #FFF , 1545px 1047px #FFF , 1453px 344px #FFF , 1345px 68px #FFF , 768px 1648px #FFF , 1951px 440px #FFF , 69px 1558px #FFF , 280px 1351px #FFF , 295px 144px #FFF , 1420px 702px #FFF , 1418px 450px #FFF , 340px 674px #FFF , 658px 780px #FFF , 1552px 749px #FFF , 694px 68px #FFF , 1276px 1931px #FFF , 1378px 1161px #FFF , 1991px 1873px #FFF , 1974px 1888px #FFF , 498px 673px #FFF , 886px 27px #FFF , 1174px 1633px #FFF , 1182px 1228px #FFF , 491px 642px #FFF , 1204px 172px #FFF , 760px 342px #FFF , 1530px 1295px #FFF , 1876px 605px #FFF , 396px 1721px #FFF , 584px 1253px #FFF , 1910px 1888px #FFF , 620px 708px #FFF , 1068px 1872px #FFF , 800px 1780px #FFF , 340px 116px #FFF , 530px 899px #FFF , 1314px 443px #FFF , 1727px 1045px #FFF , 1597px 1195px #FFF , 1523px 66px #FFF , 6px 802px #FFF , 1337px 1024px #FFF , 777px 1943px #FFF , 1887px 1458px #FFF , 565px 1212px #FFF , 1173px 1628px #FFF , 1892px 1693px #FFF , 395px 618px #FFF , 1599px 379px #FFF , 92px 1549px #FFF , 156px 984px #FFF , 548px 312px #FFF , 1333px 488px #FFF , 136px 1071px #FFF , 819px 948px #FFF , 474px 1010px #FFF , 939px 13px #FFF , 74px 1738px #FFF , 284px 1852px #FFF , 1573px 757px #FFF , 1686px 87px #FFF , 519px 625px #FFF , 1138px 1437px #FFF , 169px 318px #FFF , 1911px 1346px #FFF , 38px 1328px #FFF , 1489px 1397px #FFF , 339px 27px #FFF , 1184px 835px #FFF , 1974px 243px #FFF , 1220px 288px #FFF , 1754px 487px #FFF , 572px 253px #FFF , 928px 1117px #FFF , 1319px 1221px #FFF , 1070px 1592px #FFF , 1333px 1651px #FFF , 1265px 317px #FFF , 1527px 1396px #FFF , 1207px 1473px #FFF , 1049px 138px #FFF , 1222px 1460px #FFF , 35px 1045px #FFF , 1465px 1803px #FFF , 1363px 1506px #FFF , 662px 1952px #FFF , 1042px 1372px #FFF , 203px 879px #FFF , 1140px 1552px #FFF , 1073px 1226px #FFF , 631px 923px #FFF , 1100px 1945px #FFF , 1705px 1670px #FFF , 1154px 189px #FFF , 1553px 198px #FFF , 217px 978px #FFF , 564px 964px #FFF , 484px 1942px #FFF , 710px 496px #FFF , 318px 282px #FFF , 1791px 168px #FFF , 805px 1378px #FFF , 549px 225px #FFF , 297px 105px #FFF , 353px 806px #FFF , 1843px 1612px #FFF , 1640px 50px #FFF , 899px 1363px #FFF , 1010px 1040px #FFF , 304px 772px #FFF , 901px 613px #FFF , 696px 631px #FFF , 703px 1173px #FFF , 12px 1039px #FFF , 661px 160px #FFF , 1042px 723px #FFF , 1474px 1058px #FFF , 1382px 1350px #FFF , 1753px 1158px #FFF , 1282px 1848px #FFF , 197px 230px #FFF , 553px 94px #FFF , 1224px 614px #FFF , 1631px 1103px #FFF , 135px 884px #FFF , 318px 432px #FFF , 1940px 1821px #FFF , 781px 1065px #FFF , 494px 567px #FFF , 85px 1363px #FFF , 1512px 1831px #FFF , 1759px 1073px #FFF , 134px 527px #FFF , 1314px 996px #FFF , 912px 1795px #FFF , 211px 990px #FFF , 1295px 1486px #FFF , 1747px 1905px #FFF , 1725px 457px #FFF , 429px 1379px #FFF , 37px 1563px #FFF , 1591px 1570px #FFF , 1826px 1300px #FFF , 691px 1953px #FFF , 1033px 711px #FFF , 791px 1980px #FFF , 519px 290px #FFF , 53px 818px #FFF , 1650px 1856px #FFF , 339px 1688px #FFF , 668px 952px #FFF , 1969px 984px #FFF , 1010px 1752px #FFF , 1940px 1965px #FFF , 568px 1331px #FFF , 532px 846px #FFF , 1723px 1277px #FFF , 906px 1146px #FFF , 478px 1348px #FFF , 1459px 1593px #FFF , 469px 690px #FFF , 647px 822px #FFF , 1733px 1826px #FFF , 1649px 1500px #FFF , 996px 1822px #FFF , 1729px 241px #FFF , 1504px 1265px #FFF , 1671px 1483px #FFF , 826px 1806px #FFF , 1261px 1420px #FFF , 222px 64px #FFF , 17px 749px #FFF , 1319px 743px #FFF , 414px 665px #FFF , 324px 1785px #FFF , 1829px 441px #FFF , 607px 428px #FFF , 693px 50px #FFF , 1776px 1410px #FFF , 1184px 1785px #FFF , 1994px 1110px #FFF , 1833px 1841px #FFF , 1966px 1521px #FFF , 534px 96px #FFF , 1719px 1621px #FFF , 671px 1561px #FFF , 1592px 1998px #FFF , 199px 148px #FFF , 1622px 803px #FFF , 1649px 1047px #FFF , 825px 1671px #FFF , 496px 353px #FFF , 1025px 240px #FFF , 132px 47px #FFF , 1489px 826px #FFF , 672px 1745px #FFF , 390px 813px #FFF , 1871px 1538px #FFF , 4px 1445px #FFF , 699px 1470px #FFF , 105px 760px #FFF , 206px 42px #FFF , 145px 415px #FFF , 25px 1080px #FFF , 974px 1092px #FFF , 1731px 1263px #FFF , 1490px 687px #FFF , 1598px 115px #FFF , 402px 1071px #FFF , 1308px 1217px #FFF , 1763px 1323px #FFF , 1851px 1207px #FFF , 657px 77px #FFF , 228px 1626px #FFF , 1322px 767px #FFF , 637px 1215px #FFF , 1304px 581px #FFF , 194px 882px #FFF , 1436px 166px #FFF , 766px 1811px #FFF , 186px 1992px #FFF , 1421px 544px #FFF , 1160px 68px #FFF , 1111px 1396px #FFF , 1640px 777px #FFF , 691px 724px #FFF , 366px 1368px #FFF , 165px 1286px #FFF , 865px 993px #FFF , 1488px 160px #FFF , 349px 614px #FFF , 1420px 1352px #FFF , 752px 1308px #FFF , 1225px 762px #FFF;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 745px 1983px #FFF , 447px 1013px #FFF , 1770px 1100px #FFF , 485px 1656px #FFF , 1728px 1699px #FFF , 1963px 677px #FFF , 232px 1017px #FFF , 20px 1238px #FFF , 275px 1891px #FFF , 1168px 1385px #FFF , 1807px 1724px #FFF , 1950px 1021px #FFF , 1032px 1040px #FFF , 534px 219px #FFF , 1476px 306px #FFF , 1715px 159px #FFF , 1989px 729px #FFF , 933px 1682px #FFF , 658px 1479px #FFF , 1735px 85px #FFF , 397px 631px #FFF , 526px 1852px #FFF , 1859px 473px #FFF , 827px 1781px #FFF , 9px 1526px #FFF , 238px 691px #FFF , 823px 1642px #FFF , 1276px 1487px #FFF , 1936px 523px #FFF , 1078px 63px #FFF , 279px 205px #FFF , 1286px 1269px #FFF , 804px 1874px #FFF , 386px 1126px #FFF , 1550px 1672px #FFF , 1395px 1261px #FFF , 109px 1647px #FFF , 1476px 727px #FFF , 905px 1250px #FFF , 1763px 374px #FFF , 1487px 1563px #FFF , 1978px 20px #FFF , 857px 1978px #FFF , 1167px 37px #FFF , 940px 647px #FFF , 1031px 831px #FFF , 689px 1247px #FFF , 1581px 1673px #FFF , 408px 1125px #FFF , 372px 1001px #FFF , 111px 68px #FFF , 502px 1342px #FFF , 464px 582px #FFF , 1162px 1423px #FFF , 1166px 1605px #FFF , 1442px 116px #FFF , 654px 768px #FFF , 783px 1743px #FFF , 1123px 1221px #FFF , 394px 1820px #FFF , 896px 1645px #FFF , 1314px 1429px #FFF , 1859px 890px #FFF , 1311px 1323px #FFF , 1760px 969px #FFF , 501px 779px #FFF , 1995px 973px #FFF , 1674px 1183px #FFF , 845px 1799px #FFF , 1358px 361px #FFF , 1243px 1791px #FFF , 1121px 543px #FFF , 1710px 945px #FFF , 1051px 928px #FFF , 642px 406px #FFF , 1658px 1819px #FFF , 76px 1004px #FFF , 1616px 1505px #FFF , 572px 1410px #FFF , 767px 1180px #FFF , 1322px 604px #FFF , 1138px 1365px #FFF , 519px 1668px #FFF , 1614px 1632px #FFF , 1233px 1878px #FFF , 1781px 1173px #FFF , 1223px 316px #FFF , 39px 161px #FFF , 179px 1512px #FFF , 557px 466px #FFF , 1808px 1242px #FFF , 1641px 901px #FFF , 1057px 1342px #FFF , 1585px 1365px #FFF , 489px 532px #FFF , 529px 706px #FFF , 937px 893px #FFF , 769px 1818px #FFF , 1440px 1998px #FFF , 1461px 16px #FFF , 253px 952px #FFF , 1324px 1123px #FFF , 1023px 1268px #FFF , 1659px 1576px #FFF , 1701px 1835px #FFF , 1819px 789px #FFF , 1551px 286px #FFF , 1268px 442px #FFF , 1910px 1619px #FFF , 1077px 408px #FFF , 1948px 107px #FFF , 396px 233px #FFF , 1972px 1900px #FFF , 109px 197px #FFF , 1452px 345px #FFF , 1158px 690px #FFF , 1472px 681px #FFF , 1630px 534px #FFF , 1308px 1111px #FFF , 1081px 565px #FFF , 1333px 1467px #FFF , 312px 303px #FFF , 1847px 56px #FFF , 692px 902px #FFF , 400px 242px #FFF , 1959px 467px #FFF , 1407px 532px #FFF , 1748px 348px #FFF , 210px 716px #FFF , 1983px 1845px #FFF , 1392px 1061px #FFF , 691px 1636px #FFF , 1648px 834px #FFF , 882px 1740px #FFF , 1962px 1916px #FFF , 1923px 403px #FFF , 118px 290px #FFF , 821px 1124px #FFF , 949px 333px #FFF , 1572px 1799px #FFF , 1070px 1541px #FFF , 1815px 94px #FFF , 1835px 747px #FFF , 1187px 1096px #FFF , 1652px 1944px #FFF , 1830px 297px #FFF , 561px 26px #FFF , 1704px 1162px #FFF , 1213px 790px #FFF , 449px 1208px #FFF , 903px 1752px #FFF , 603px 1052px #FFF , 1771px 1425px #FFF , 775px 901px #FFF , 971px 1437px #FFF , 1297px 1509px #FFF , 1781px 1568px #FFF , 458px 512px #FFF , 50px 340px #FFF , 1049px 1246px #FFF , 263px 938px #FFF , 482px 1712px #FFF , 1734px 1516px #FFF , 614px 208px #FFF , 391px 1672px #FFF , 395px 1248px #FFF , 315px 84px #FFF , 1888px 607px #FFF , 166px 1187px #FFF , 287px 1644px #FFF , 1215px 1555px #FFF , 1863px 243px #FFF , 1244px 1194px #FFF , 1180px 1966px #FFF , 278px 1047px #FFF , 82px 1587px #FFF , 56px 1431px #FFF , 627px 1990px #FFF , 308px 1007px #FFF , 1652px 1530px #FFF , 581px 1543px #FFF , 1300px 1342px #FFF , 542px 581px #FFF , 754px 1840px #FFF , 1128px 1122px #FFF , 203px 4px #FFF , 900px 447px #FFF , 445px 679px #FFF , 1306px 215px #FFF , 283px 1779px #FFF , 1506px 1119px #FFF , 1815px 1200px #FFF , 680px 590px #FFF , 1619px 1089px #FFF , 533px 1707px #FFF , 1617px 1121px #FFF , 1838px 59px #FFF , 998px 1139px #FFF , 338px 1674px #FFF , 1416px 778px #FFF , 51px 324px #FFF , 1619px 107px #FFF , 244px 210px #FFF , 1955px 458px #FFF , 1694px 478px #FFF , 1979px 552px #FFF , 804px 573px #FFF , 1706px 1553px #FFF , 1113px 313px #FFF , 1689px 1960px #FFF , 503px 220px #FFF , 906px 1780px #FFF , 1810px 1604px #FFF , 498px 662px #FFF , 1017px 1047px #FFF , 252px 181px #FFF , 768px 1908px #FFF , 527px 854px #FFF , 856px 811px #FFF , 1591px 646px #FFF , 174px 174px #FFF , 766px 1777px #FFF , 1295px 1017px #FFF , 953px 143px #FFF , 1145px 250px #FFF , 307px 1432px #FFF , 203px 196px #FFF , 1691px 338px #FFF , 1114px 549px #FFF , 1990px 134px #FFF , 1429px 1032px #FFF , 1595px 195px #FFF , 627px 547px #FFF , 805px 1294px #FFF , 1422px 54px #FFF , 622px 1465px #FFF , 1178px 1310px #FFF , 1572px 1363px #FFF , 1332px 1373px #FFF , 424px 1774px #FFF , 693px 1133px #FFF , 525px 1365px #FFF , 996px 1873px #FFF , 996px 1685px #FFF , 520px 1883px #FFF , 1260px 317px #FFF , 220px 1275px #FFF , 567px 1164px #FFF , 866px 1299px #FFF , 1139px 318px #FFF , 342px 170px #FFF , 1679px 366px #FFF , 765px 786px #FFF , 231px 1961px #FFF , 1543px 224px #FFF , 1583px 1824px #FFF , 1255px 73px #FFF , 841px 1751px #FFF , 1854px 1230px #FFF , 823px 1513px #FFF , 1096px 1817px #FFF , 218px 1270px #FFF , 1785px 1220px #FFF , 1935px 1370px #FFF , 1491px 1828px #FFF , 1667px 879px #FFF , 538px 1361px #FFF , 1906px 230px #FFF , 1391px 713px #FFF , 1591px 460px #FFF , 531px 518px #FFF , 668px 958px #FFF , 424px 1934px #FFF , 1895px 52px #FFF , 316px 1575px #FFF , 1733px 874px #FFF , 304px 325px #FFF , 1067px 1388px #FFF , 230px 1665px #FFF , 1914px 968px #FFF , 655px 1769px #FFF , 1134px 347px #FFF , 644px 300px #FFF , 1791px 667px #FFF , 191px 1009px #FFF , 1069px 839px #FFF , 1948px 1738px #FFF , 1298px 1196px #FFF , 317px 1057px #FFF , 1969px 1922px #FFF , 598px 192px #FFF , 28px 686px #FFF , 1224px 849px #FFF , 509px 108px #FFF , 671px 483px #FFF , 1688px 659px #FFF , 1808px 429px #FFF , 1930px 748px #FFF , 1340px 567px #FFF , 848px 1289px #FFF , 869px 575px #FFF , 1982px 699px #FFF , 172px 1486px #FFF , 641px 1162px #FFF , 1464px 201px #FFF , 1241px 1760px #FFF , 347px 1463px #FFF , 985px 680px #FFF , 366px 509px #FFF , 1285px 266px #FFF , 779px 1999px #FFF , 384px 450px #FFF , 1457px 921px #FFF , 1206px 1336px #FFF , 1595px 738px #FFF , 847px 1769px #FFF , 741px 774px #FFF , 1998px 1708px #FFF , 490px 220px #FFF , 1672px 1929px #FFF , 1215px 289px #FFF , 475px 1752px #FFF , 1082px 1086px #FFF , 1839px 444px #FFF , 1792px 158px #FFF , 161px 1339px #FFF , 1265px 1779px #FFF , 1730px 1115px #FFF , 113px 1272px #FFF , 1073px 1815px #FFF , 637px 1738px #FFF , 372px 1605px #FFF , 976px 1023px #FFF , 187px 1938px #FFF , 1707px 1387px #FFF , 1279px 684px #FFF , 1582px 68px #FFF , 1620px 1975px #FFF , 1356px 1081px #FFF , 270px 1803px #FFF , 749px 589px #FFF , 1673px 1327px #FFF , 1710px 1773px #FFF , 1491px 1102px #FFF , 1994px 1278px #FFF , 181px 86px #FFF , 773px 1770px #FFF , 833px 584px #FFF , 1921px 1853px #FFF , 971px 1124px #FFF , 1658px 708px #FFF , 1060px 776px #FFF , 498px 716px #FFF , 774px 829px #FFF , 1344px 398px #FFF , 138px 255px #FFF , 1930px 1233px #FFF , 1803px 320px #FFF , 929px 845px #FFF , 840px 222px #FFF , 1523px 828px #FFF , 1631px 1363px #FFF , 343px 1128px #FFF , 1472px 1697px #FFF , 933px 77px #FFF , 136px 912px #FFF , 1461px 1625px #FFF , 550px 428px #FFF , 1698px 421px #FFF , 288px 1333px #FFF , 388px 961px #FFF , 1957px 1096px #FFF , 241px 206px #FFF , 539px 881px #FFF , 1056px 802px #FFF , 1091px 1827px #FFF , 1804px 1310px #FFF , 1222px 1924px #FFF , 789px 1733px #FFF , 237px 1367px #FFF , 1566px 130px #FFF , 1833px 275px #FFF , 1118px 967px #FFF , 373px 941px #FFF , 268px 215px #FFF , 300px 861px #FFF , 1173px 600px #FFF , 1321px 262px #FFF , 588px 1587px #FFF , 1362px 1853px #FFF , 1222px 878px #FFF , 1234px 196px #FFF , 611px 646px #FFF , 176px 1118px #FFF , 1737px 1281px #FFF , 505px 86px #FFF , 1263px 662px #FFF , 617px 829px #FFF , 337px 1034px #FFF , 1285px 196px #FFF , 828px 122px #FFF , 396px 1434px #FFF , 812px 591px #FFF , 581px 690px #FFF , 886px 371px #FFF , 1973px 852px #FFF , 864px 123px #FFF , 287px 1301px #FFF , 1000px 721px #FFF , 212px 1361px #FFF , 526px 495px #FFF , 736px 1259px #FFF , 1672px 60px #FFF , 1384px 611px #FFF , 448px 1873px #FFF , 102px 1014px #FFF , 248px 876px #FFF , 1592px 367px #FFF , 1859px 1762px #FFF , 775px 435px #FFF , 65px 1722px #FFF , 1642px 1955px #FFF , 193px 1050px #FFF , 853px 1555px #FFF , 578px 1576px #FFF , 53px 1149px #FFF , 1843px 142px #FFF , 205px 74px #FFF , 1630px 310px #FFF , 1291px 619px #FFF , 1039px 342px #FFF , 1495px 525px #FFF , 813px 284px #FFF , 1837px 1281px #FFF , 1380px 20px #FFF , 197px 1812px #FFF , 1961px 1651px #FFF , 479px 583px #FFF , 1695px 812px #FFF , 1850px 285px #FFF , 1613px 899px #FFF , 1713px 1297px #FFF , 1009px 1235px #FFF , 1453px 771px #FFF , 932px 1382px #FFF , 740px 398px #FFF , 1871px 1570px #FFF , 837px 77px #FFF , 434px 1769px #FFF , 1836px 1694px #FFF , 982px 1667px #FFF , 554px 136px #FFF , 284px 1795px #FFF , 65px 234px #FFF , 1933px 1423px #FFF , 1059px 1636px #FFF , 262px 1316px #FFF , 709px 118px #FFF , 1889px 1455px #FFF , 1362px 909px #FFF , 22px 980px #FFF , 434px 941px #FFF , 25px 1208px #FFF , 734px 1846px #FFF , 184px 1174px #FFF , 1724px 1190px #FFF , 439px 1848px #FFF , 1545px 1047px #FFF , 1453px 344px #FFF , 1345px 68px #FFF , 768px 1648px #FFF , 1951px 440px #FFF , 69px 1558px #FFF , 280px 1351px #FFF , 295px 144px #FFF , 1420px 702px #FFF , 1418px 450px #FFF , 340px 674px #FFF , 658px 780px #FFF , 1552px 749px #FFF , 694px 68px #FFF , 1276px 1931px #FFF , 1378px 1161px #FFF , 1991px 1873px #FFF , 1974px 1888px #FFF , 498px 673px #FFF , 886px 27px #FFF , 1174px 1633px #FFF , 1182px 1228px #FFF , 491px 642px #FFF , 1204px 172px #FFF , 760px 342px #FFF , 1530px 1295px #FFF , 1876px 605px #FFF , 396px 1721px #FFF , 584px 1253px #FFF , 1910px 1888px #FFF , 620px 708px #FFF , 1068px 1872px #FFF , 800px 1780px #FFF , 340px 116px #FFF , 530px 899px #FFF , 1314px 443px #FFF , 1727px 1045px #FFF , 1597px 1195px #FFF , 1523px 66px #FFF , 6px 802px #FFF , 1337px 1024px #FFF , 777px 1943px #FFF , 1887px 1458px #FFF , 565px 1212px #FFF , 1173px 1628px #FFF , 1892px 1693px #FFF , 395px 618px #FFF , 1599px 379px #FFF , 92px 1549px #FFF , 156px 984px #FFF , 548px 312px #FFF , 1333px 488px #FFF , 136px 1071px #FFF , 819px 948px #FFF , 474px 1010px #FFF , 939px 13px #FFF , 74px 1738px #FFF , 284px 1852px #FFF , 1573px 757px #FFF , 1686px 87px #FFF , 519px 625px #FFF , 1138px 1437px #FFF , 169px 318px #FFF , 1911px 1346px #FFF , 38px 1328px #FFF , 1489px 1397px #FFF , 339px 27px #FFF , 1184px 835px #FFF , 1974px 243px #FFF , 1220px 288px #FFF , 1754px 487px #FFF , 572px 253px #FFF , 928px 1117px #FFF , 1319px 1221px #FFF , 1070px 1592px #FFF , 1333px 1651px #FFF , 1265px 317px #FFF , 1527px 1396px #FFF , 1207px 1473px #FFF , 1049px 138px #FFF , 1222px 1460px #FFF , 35px 1045px #FFF , 1465px 1803px #FFF , 1363px 1506px #FFF , 662px 1952px #FFF , 1042px 1372px #FFF , 203px 879px #FFF , 1140px 1552px #FFF , 1073px 1226px #FFF , 631px 923px #FFF , 1100px 1945px #FFF , 1705px 1670px #FFF , 1154px 189px #FFF , 1553px 198px #FFF , 217px 978px #FFF , 564px 964px #FFF , 484px 1942px #FFF , 710px 496px #FFF , 318px 282px #FFF , 1791px 168px #FFF , 805px 1378px #FFF , 549px 225px #FFF , 297px 105px #FFF , 353px 806px #FFF , 1843px 1612px #FFF , 1640px 50px #FFF , 899px 1363px #FFF , 1010px 1040px #FFF , 304px 772px #FFF , 901px 613px #FFF , 696px 631px #FFF , 703px 1173px #FFF , 12px 1039px #FFF , 661px 160px #FFF , 1042px 723px #FFF , 1474px 1058px #FFF , 1382px 1350px #FFF , 1753px 1158px #FFF , 1282px 1848px #FFF , 197px 230px #FFF , 553px 94px #FFF , 1224px 614px #FFF , 1631px 1103px #FFF , 135px 884px #FFF , 318px 432px #FFF , 1940px 1821px #FFF , 781px 1065px #FFF , 494px 567px #FFF , 85px 1363px #FFF , 1512px 1831px #FFF , 1759px 1073px #FFF , 134px 527px #FFF , 1314px 996px #FFF , 912px 1795px #FFF , 211px 990px #FFF , 1295px 1486px #FFF , 1747px 1905px #FFF , 1725px 457px #FFF , 429px 1379px #FFF , 37px 1563px #FFF , 1591px 1570px #FFF , 1826px 1300px #FFF , 691px 1953px #FFF , 1033px 711px #FFF , 791px 1980px #FFF , 519px 290px #FFF , 53px 818px #FFF , 1650px 1856px #FFF , 339px 1688px #FFF , 668px 952px #FFF , 1969px 984px #FFF , 1010px 1752px #FFF , 1940px 1965px #FFF , 568px 1331px #FFF , 532px 846px #FFF , 1723px 1277px #FFF , 906px 1146px #FFF , 478px 1348px #FFF , 1459px 1593px #FFF , 469px 690px #FFF , 647px 822px #FFF , 1733px 1826px #FFF , 1649px 1500px #FFF , 996px 1822px #FFF , 1729px 241px #FFF , 1504px 1265px #FFF , 1671px 1483px #FFF , 826px 1806px #FFF , 1261px 1420px #FFF , 222px 64px #FFF , 17px 749px #FFF , 1319px 743px #FFF , 414px 665px #FFF , 324px 1785px #FFF , 1829px 441px #FFF , 607px 428px #FFF , 693px 50px #FFF , 1776px 1410px #FFF , 1184px 1785px #FFF , 1994px 1110px #FFF , 1833px 1841px #FFF , 1966px 1521px #FFF , 534px 96px #FFF , 1719px 1621px #FFF , 671px 1561px #FFF , 1592px 1998px #FFF , 199px 148px #FFF , 1622px 803px #FFF , 1649px 1047px #FFF , 825px 1671px #FFF , 496px 353px #FFF , 1025px 240px #FFF , 132px 47px #FFF , 1489px 826px #FFF , 672px 1745px #FFF , 390px 813px #FFF , 1871px 1538px #FFF , 4px 1445px #FFF , 699px 1470px #FFF , 105px 760px #FFF , 206px 42px #FFF , 145px 415px #FFF , 25px 1080px #FFF , 974px 1092px #FFF , 1731px 1263px #FFF , 1490px 687px #FFF , 1598px 115px #FFF , 402px 1071px #FFF , 1308px 1217px #FFF , 1763px 1323px #FFF , 1851px 1207px #FFF , 657px 77px #FFF , 228px 1626px #FFF , 1322px 767px #FFF , 637px 1215px #FFF , 1304px 581px #FFF , 194px 882px #FFF , 1436px 166px #FFF , 766px 1811px #FFF , 186px 1992px #FFF , 1421px 544px #FFF , 1160px 68px #FFF , 1111px 1396px #FFF , 1640px 777px #FFF , 691px 724px #FFF , 366px 1368px #FFF , 165px 1286px #FFF , 865px 993px #FFF , 1488px 160px #FFF , 349px 614px #FFF , 1420px 1352px #FFF , 752px 1308px #FFF , 1225px 762px #FFF;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 414px 675px #FFF , 673px 1358px #FFF , 244px 1038px #FFF , 1097px 1212px #FFF , 1638px 1951px #FFF , 601px 812px #FFF , 981px 1186px #FFF , 264px 833px #FFF , 570px 1781px #FFF , 942px 731px #FFF , 107px 1509px #FFF , 183px 692px #FFF , 1534px 1288px #FFF , 857px 429px #FFF , 541px 858px #FFF , 1299px 883px #FFF , 1596px 1031px #FFF , 535px 122px #FFF , 510px 1440px #FFF , 1214px 1746px #FFF , 1922px 829px #FFF , 1250px 425px #FFF , 1693px 365px #FFF , 511px 1104px #FFF , 579px 449px #FFF , 547px 1010px #FFF , 1457px 10px #FFF , 729px 945px #FFF , 438px 18px #FFF , 5px 1898px #FFF , 1583px 669px #FFF , 1870px 197px #FFF , 93px 547px #FFF , 287px 488px #FFF , 1351px 729px #FFF , 1457px 1682px #FFF , 136px 253px #FFF , 693px 437px #FFF , 294px 795px #FFF , 1416px 407px #FFF , 1727px 868px #FFF , 1674px 656px #FFF , 302px 1996px #FFF , 1230px 524px #FFF , 1725px 46px #FFF , 533px 617px #FFF , 298px 1645px #FFF , 1938px 1640px #FFF , 647px 514px #FFF , 1156px 1301px #FFF , 1241px 1758px #FFF , 591px 1570px #FFF , 1156px 1401px #FFF , 594px 814px #FFF , 1069px 1511px #FFF , 726px 1735px #FFF , 985px 900px #FFF , 659px 1965px #FFF , 839px 1242px #FFF , 1535px 1448px #FFF , 374px 1573px #FFF , 259px 1849px #FFF , 358px 1046px #FFF , 621px 261px #FFF , 30px 1401px #FFF , 1848px 57px #FFF , 217px 1231px #FFF , 431px 1153px #FFF , 877px 954px #FFF , 264px 1214px #FFF , 1941px 1949px #FFF , 55px 512px #FFF , 1415px 1862px #FFF , 450px 796px #FFF , 1342px 931px #FFF , 548px 592px #FFF , 1319px 942px #FFF , 1857px 895px #FFF , 1108px 1920px #FFF , 238px 1337px #FFF , 1730px 655px #FFF , 1757px 1928px #FFF , 683px 1431px #FFF , 1877px 518px #FFF , 709px 1121px #FFF , 1172px 1276px #FFF , 42px 1800px #FFF , 1559px 1713px #FFF , 1555px 820px #FFF , 1105px 1125px #FFF , 1454px 1657px #FFF , 1263px 1679px #FFF , 564px 868px #FFF , 241px 1513px #FFF , 926px 1722px #FFF , 1179px 907px #FFF , 1372px 1985px #FFF , 985px 683px #FFF , 231px 271px #FFF , 745px 810px #FFF , 755px 822px #FFF , 1753px 825px #FFF , 1301px 129px #FFF , 151px 1206px #FFF , 35px 1192px #FFF , 972px 449px #FFF , 1234px 1345px #FFF , 1345px 190px #FFF , 367px 1314px #FFF , 149px 520px #FFF , 695px 1692px #FFF , 952px 1214px #FFF , 855px 1482px #FFF , 72px 1509px #FFF , 1985px 615px #FFF , 596px 1128px #FFF , 11px 487px #FFF , 1794px 753px #FFF , 1308px 463px #FFF , 1950px 269px #FFF , 418px 1290px #FFF , 821px 786px #FFF , 370px 917px #FFF , 975px 282px #FFF , 812px 724px #FFF , 1378px 1424px #FFF , 808px 474px #FFF , 1205px 1117px #FFF , 1919px 413px #FFF , 1350px 465px #FFF , 1865px 137px #FFF , 348px 1210px #FFF , 211px 6px #FFF , 365px 750px #FFF , 551px 1103px #FFF , 1271px 1193px #FFF , 1637px 1589px #FFF , 1045px 406px #FFF , 448px 1901px #FFF , 1508px 941px #FFF , 284px 1412px #FFF , 675px 58px #FFF , 866px 615px #FFF , 1751px 1070px #FFF , 1010px 1478px #FFF , 1984px 961px #FFF , 1719px 708px #FFF , 311px 1080px #FFF , 20px 632px #FFF , 1663px 78px #FFF , 1733px 586px #FFF , 1084px 1641px #FFF , 1956px 915px #FFF , 471px 1735px #FFF , 907px 609px #FFF , 1454px 1969px #FFF , 552px 410px #FFF , 1300px 1011px #FFF , 1494px 85px #FFF , 1867px 366px #FFF , 1470px 690px #FFF , 906px 201px #FFF , 1867px 1955px #FFF , 522px 782px #FFF , 1379px 1752px #FFF , 1471px 1481px #FFF , 1633px 1077px #FFF , 350px 1397px #FFF , 1834px 779px #FFF , 1696px 1863px #FFF , 1216px 652px #FFF , 212px 462px #FFF , 45px 589px #FFF , 57px 1141px #FFF , 366px 204px #FFF , 1061px 1676px #FFF , 1411px 833px #FFF , 542px 485px #FFF , 1154px 1397px #FFF , 209px 711px #FFF , 1752px 220px #FFF , 1916px 640px #FFF , 81px 616px #FFF , 833px 188px #FFF , 206px 26px #FFF , 364px 899px #FFF , 1730px 1784px #FFF , 1200px 1621px #FFF , 363px 177px #FFF , 631px 1808px #FFF , 1974px 1671px #FFF , 456px 603px #FFF , 1557px 1350px #FFF , 1905px 334px #FFF , 824px 1297px #FFF , 1448px 1337px #FFF , 1452px 1012px #FFF , 1543px 560px #FFF , 417px 812px #FFF , 1186px 1484px #FFF;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 414px 675px #FFF , 673px 1358px #FFF , 244px 1038px #FFF , 1097px 1212px #FFF , 1638px 1951px #FFF , 601px 812px #FFF , 981px 1186px #FFF , 264px 833px #FFF , 570px 1781px #FFF , 942px 731px #FFF , 107px 1509px #FFF , 183px 692px #FFF , 1534px 1288px #FFF , 857px 429px #FFF , 541px 858px #FFF , 1299px 883px #FFF , 1596px 1031px #FFF , 535px 122px #FFF , 510px 1440px #FFF , 1214px 1746px #FFF , 1922px 829px #FFF , 1250px 425px #FFF , 1693px 365px #FFF , 511px 1104px #FFF , 579px 449px #FFF , 547px 1010px #FFF , 1457px 10px #FFF , 729px 945px #FFF , 438px 18px #FFF , 5px 1898px #FFF , 1583px 669px #FFF , 1870px 197px #FFF , 93px 547px #FFF , 287px 488px #FFF , 1351px 729px #FFF , 1457px 1682px #FFF , 136px 253px #FFF , 693px 437px #FFF , 294px 795px #FFF , 1416px 407px #FFF , 1727px 868px #FFF , 1674px 656px #FFF , 302px 1996px #FFF , 1230px 524px #FFF , 1725px 46px #FFF , 533px 617px #FFF , 298px 1645px #FFF , 1938px 1640px #FFF , 647px 514px #FFF , 1156px 1301px #FFF , 1241px 1758px #FFF , 591px 1570px #FFF , 1156px 1401px #FFF , 594px 814px #FFF , 1069px 1511px #FFF , 726px 1735px #FFF , 985px 900px #FFF , 659px 1965px #FFF , 839px 1242px #FFF , 1535px 1448px #FFF , 374px 1573px #FFF , 259px 1849px #FFF , 358px 1046px #FFF , 621px 261px #FFF , 30px 1401px #FFF , 1848px 57px #FFF , 217px 1231px #FFF , 431px 1153px #FFF , 877px 954px #FFF , 264px 1214px #FFF , 1941px 1949px #FFF , 55px 512px #FFF , 1415px 1862px #FFF , 450px 796px #FFF , 1342px 931px #FFF , 548px 592px #FFF , 1319px 942px #FFF , 1857px 895px #FFF , 1108px 1920px #FFF , 238px 1337px #FFF , 1730px 655px #FFF , 1757px 1928px #FFF , 683px 1431px #FFF , 1877px 518px #FFF , 709px 1121px #FFF , 1172px 1276px #FFF , 42px 1800px #FFF , 1559px 1713px #FFF , 1555px 820px #FFF , 1105px 1125px #FFF , 1454px 1657px #FFF , 1263px 1679px #FFF , 564px 868px #FFF , 241px 1513px #FFF , 926px 1722px #FFF , 1179px 907px #FFF , 1372px 1985px #FFF , 985px 683px #FFF , 231px 271px #FFF , 745px 810px #FFF , 755px 822px #FFF , 1753px 825px #FFF , 1301px 129px #FFF , 151px 1206px #FFF , 35px 1192px #FFF , 972px 449px #FFF , 1234px 1345px #FFF , 1345px 190px #FFF , 367px 1314px #FFF , 149px 520px #FFF , 695px 1692px #FFF , 952px 1214px #FFF , 855px 1482px #FFF , 72px 1509px #FFF , 1985px 615px #FFF , 596px 1128px #FFF , 11px 487px #FFF , 1794px 753px #FFF , 1308px 463px #FFF , 1950px 269px #FFF , 418px 1290px #FFF , 821px 786px #FFF , 370px 917px #FFF , 975px 282px #FFF , 812px 724px #FFF , 1378px 1424px #FFF , 808px 474px #FFF , 1205px 1117px #FFF , 1919px 413px #FFF , 1350px 465px #FFF , 1865px 137px #FFF , 348px 1210px #FFF , 211px 6px #FFF , 365px 750px #FFF , 551px 1103px #FFF , 1271px 1193px #FFF , 1637px 1589px #FFF , 1045px 406px #FFF , 448px 1901px #FFF , 1508px 941px #FFF , 284px 1412px #FFF , 675px 58px #FFF , 866px 615px #FFF , 1751px 1070px #FFF , 1010px 1478px #FFF , 1984px 961px #FFF , 1719px 708px #FFF , 311px 1080px #FFF , 20px 632px #FFF , 1663px 78px #FFF , 1733px 586px #FFF , 1084px 1641px #FFF , 1956px 915px #FFF , 471px 1735px #FFF , 907px 609px #FFF , 1454px 1969px #FFF , 552px 410px #FFF , 1300px 1011px #FFF , 1494px 85px #FFF , 1867px 366px #FFF , 1470px 690px #FFF , 906px 201px #FFF , 1867px 1955px #FFF , 522px 782px #FFF , 1379px 1752px #FFF , 1471px 1481px #FFF , 1633px 1077px #FFF , 350px 1397px #FFF , 1834px 779px #FFF , 1696px 1863px #FFF , 1216px 652px #FFF , 212px 462px #FFF , 45px 589px #FFF , 57px 1141px #FFF , 366px 204px #FFF , 1061px 1676px #FFF , 1411px 833px #FFF , 542px 485px #FFF , 1154px 1397px #FFF , 209px 711px #FFF , 1752px 220px #FFF , 1916px 640px #FFF , 81px 616px #FFF , 833px 188px #FFF , 206px 26px #FFF , 364px 899px #FFF , 1730px 1784px #FFF , 1200px 1621px #FFF , 363px 177px #FFF , 631px 1808px #FFF , 1974px 1671px #FFF , 456px 603px #FFF , 1557px 1350px #FFF , 1905px 334px #FFF , 824px 1297px #FFF , 1448px 1337px #FFF , 1452px 1012px #FFF , 1543px 560px #FFF , 417px 812px #FFF , 1186px 1484px #FFF;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1468px 772px #FFF , 574px 503px #FFF , 386px 1118px #FFF , 427px 159px #FFF , 1011px 279px #FFF , 458px 513px #FFF , 757px 1071px #FFF , 698px 1918px #FFF , 896px 1443px #FFF , 579px 816px #FFF , 1955px 138px #FFF , 959px 598px #FFF , 1306px 814px #FFF , 414px 1330px #FFF , 1715px 97px #FFF , 529px 1701px #FFF , 1389px 542px #FFF , 1100px 1622px #FFF , 37px 925px #FFF , 916px 409px #FFF , 9px 1578px #FFF , 1847px 275px #FFF , 138px 1445px #FFF , 1573px 1295px #FFF , 670px 1115px #FFF , 131px 1273px #FFF , 120px 877px #FFF , 652px 1814px #FFF , 1478px 573px #FFF , 130px 885px #FFF , 1488px 641px #FFF , 1573px 46px #FFF , 344px 1227px #FFF , 1843px 1767px #FFF , 904px 884px #FFF , 666px 1442px #FFF , 620px 988px #FFF , 1576px 1192px #FFF , 734px 844px #FFF , 1037px 485px #FFF , 1837px 196px #FFF , 1130px 188px #FFF , 1777px 917px #FFF , 1563px 838px #FFF , 68px 331px #FFF , 372px 743px #FFF , 1070px 246px #FFF , 1505px 1716px #FFF , 1823px 1290px #FFF , 166px 1261px #FFF , 1492px 767px #FFF , 644px 700px #FFF , 54px 1564px #FFF , 842px 1429px #FFF , 41px 1083px #FFF , 1541px 1730px #FFF , 936px 1514px #FFF , 568px 1732px #FFF , 1434px 990px #FFF , 558px 1110px #FFF , 1310px 1005px #FFF , 1915px 1591px #FFF , 1051px 961px #FFF , 1788px 555px #FFF , 510px 1151px #FFF , 300px 1313px #FFF , 1394px 1087px #FFF , 1931px 479px #FFF , 1699px 362px #FFF , 727px 1116px #FFF , 1533px 217px #FFF , 1163px 400px #FFF , 1778px 1999px #FFF , 1967px 247px #FFF , 497px 1685px #FFF , 1672px 573px #FFF , 1668px 872px #FFF , 1337px 639px #FFF , 535px 1118px #FFF , 1346px 977px #FFF , 1809px 57px #FFF , 530px 711px #FFF , 877px 1255px #FFF , 725px 851px #FFF , 269px 1281px #FFF , 968px 1591px #FFF , 1509px 10px #FFF , 416px 1841px #FFF , 1950px 1034px #FFF , 580px 447px #FFF , 165px 1239px #FFF , 344px 61px #FFF , 446px 1841px #FFF , 1201px 1751px #FFF , 1578px 1507px #FFF , 1536px 1109px #FFF , 1856px 425px #FFF , 898px 538px #FFF , 1479px 362px #FFF , 1892px 1068px #FFF;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1468px 772px #FFF , 574px 503px #FFF , 386px 1118px #FFF , 427px 159px #FFF , 1011px 279px #FFF , 458px 513px #FFF , 757px 1071px #FFF , 698px 1918px #FFF , 896px 1443px #FFF , 579px 816px #FFF , 1955px 138px #FFF , 959px 598px #FFF , 1306px 814px #FFF , 414px 1330px #FFF , 1715px 97px #FFF , 529px 1701px #FFF , 1389px 542px #FFF , 1100px 1622px #FFF , 37px 925px #FFF , 916px 409px #FFF , 9px 1578px #FFF , 1847px 275px #FFF , 138px 1445px #FFF , 1573px 1295px #FFF , 670px 1115px #FFF , 131px 1273px #FFF , 120px 877px #FFF , 652px 1814px #FFF , 1478px 573px #FFF , 130px 885px #FFF , 1488px 641px #FFF , 1573px 46px #FFF , 344px 1227px #FFF , 1843px 1767px #FFF , 904px 884px #FFF , 666px 1442px #FFF , 620px 988px #FFF , 1576px 1192px #FFF , 734px 844px #FFF , 1037px 485px #FFF , 1837px 196px #FFF , 1130px 188px #FFF , 1777px 917px #FFF , 1563px 838px #FFF , 68px 331px #FFF , 372px 743px #FFF , 1070px 246px #FFF , 1505px 1716px #FFF , 1823px 1290px #FFF , 166px 1261px #FFF , 1492px 767px #FFF , 644px 700px #FFF , 54px 1564px #FFF , 842px 1429px #FFF , 41px 1083px #FFF , 1541px 1730px #FFF , 936px 1514px #FFF , 568px 1732px #FFF , 1434px 990px #FFF , 558px 1110px #FFF , 1310px 1005px #FFF , 1915px 1591px #FFF , 1051px 961px #FFF , 1788px 555px #FFF , 510px 1151px #FFF , 300px 1313px #FFF , 1394px 1087px #FFF , 1931px 479px #FFF , 1699px 362px #FFF , 727px 1116px #FFF , 1533px 217px #FFF , 1163px 400px #FFF , 1778px 1999px #FFF , 1967px 247px #FFF , 497px 1685px #FFF , 1672px 573px #FFF , 1668px 872px #FFF , 1337px 639px #FFF , 535px 1118px #FFF , 1346px 977px #FFF , 1809px 57px #FFF , 530px 711px #FFF , 877px 1255px #FFF , 725px 851px #FFF , 269px 1281px #FFF , 968px 1591px #FFF , 1509px 10px #FFF , 416px 1841px #FFF , 1950px 1034px #FFF , 580px 447px #FFF , 165px 1239px #FFF , 344px 61px #FFF , 446px 1841px #FFF , 1201px 1751px #FFF , 1578px 1507px #FFF , 1536px 1109px #FFF , 1856px 425px #FFF , 898px 538px #FFF , 1479px 362px #FFF , 1892px 1068px #FFF;
}

#title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #FFF;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
}
#title span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
